/* css du body*/
body{
    font-family: Verdana, Calibri, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
/* css du logo*/
#figure{
    border: 1px solid blue;
    margin: 5px;
}
.image{
    width:  100px;
    height: 100px;
    margin-top: 2px;
    margin-left: 2px;
}

/* css du menu*/
.menu {
    padding-top: 30px;
    }
    nav {
        width: 100%;
        background-color: #424558;
    }
    nav > ul {
        margin: 0px;
        padding: 0px;
    }
    nav li {
        list-style-type: none;
    }
    nav > ul > li {
        float: left;
        position: relative;
    }
    nav > ul::after{
    content: "";
    display: table;
    clear: both;
    }
    .sousmenu{
        display: none;
    }
    nav  a {
        display: inline;
        text-decoration: none;
    }
    nav > ul > li > a {
        padding: 20px 30px;
        color: white;
    }
    nav li:hover .sousmenu{
        display: inline-block;
        position: absolute;
        top: 100%;
        left: 0px;
        padding: 0px;
        z-index: 100000;
    }
    .sousmenu li a {
        padding: 20px 30px;
        font-size: 13px;
        color:white;
        width: 300px;
    }
    .sousmenu li {
        border-bottom: 1px solid black;
    }
    nav > ul >li:hover a {
        padding: 15px 30px 20px 30px;
    }
    .accuel:hover{
        border-top: 5px solid rgb(231, 11, 11);
        background-color: rgb(231, 11, 11, 0.3);
    }
    .menu-chambres:hover {
        border-top: 5px solid rgb(138, 43, 226);
        background-color: rgb(138, 43, 43, 0.15);
    }
    .services:hover {
        border-top: 5px solid rgb(255, 255, 0);
        background-color: rgb(255, 255, 0, 0.3);
    }
    .reserv:hover{
        border-top: 5px solid rgb(255, 165, 0);
        background-color: rgb(255, 165, 0, 0.15);
    }
    .cont:hover{
        border-top: 5px solid rgb(238, 102, 102);
        background-color: rgb(238, 102, 102, 0.15);
    }
    .apropos:hover{
        border-top: 5px solid rgb(243, 5, 243);
        background-color: rgb(243, 5, 243, 0.15);
    }
    .menu-chambres .sousmenu {
        background-color: rgb(139, 34, 238);
    }
    .services .sousmenu {
        background-color: rgb(229, 233, 32);
    }