body{
    font-family: Verdana, Calibri, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.pieds{
    border-top: 5px solid blue;
    border: 0px solid black;
    height: 320px;
    background-color: grey;
    margin-top: 0px;
    width: 100%;
    border-top: 3px solid rgb(129, 7, 7);
}
.logoh{
    width:150px;
    height: 150px;
    margin: 20px;


}
.localis{

    width: 150px;
    height: 100px;
    margin-left: 1000px;
    margin-top: -40px;

}
.divlogo{
    margin-top: 30px;
}
.titreconta{
    color: white;
}
.conta{
    margin-left: 25%;
    margin-top: -250px;
}

.asuivre{
    margin-left: 50%;
    margin-top: -200px;
}
label
{
    display: block;
    width: 50px;
}
